body{
	background-image: url(https://previews.123rf.com/images/iimages/iimages1607/iimages160700610/59931133-human-anatomy-model-with-different-systems-illustration.jpg);
	text-align: center;
}

.text-muted{
	color: red;
  font-family: cursive;

}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

h2 {
  color: blue;
}

.jumbotron {
  color: blue;
}
.container {
  background-color: #95B9C7;
  opacity: 0.9;
  margin: 75px;
  margin-left: auto;
  margin-right: auto;

}

